---
import 'autocompleter/autocomplete.css'
import LayoutSidebar from "../app/LayoutSidebar.astro"
import { redis } from "../middleware"
import type { User, ChannelInformation } from 'ts-twitch-api'
import { getStreamInfo, getUserData } from './api/utils'
import type { AccessToken } from '@twurple/auth'

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);

let iframe_url: string | null = null
// get broadcaster id
let broadcasterId = await redis.get('twitch_broadcaster_id')
if (!broadcasterId) {
    throw new Error("Broadcaster ID not set, user should reauthenticate.")
}

let tokenJson = await redis.get(broadcasterId) ?? ''
if (tokenJson === '') {
    console.warn("Broadcaster OAuth token not found, user should reauthenticate.")
    Astro.redirect('/setup')
    // TODO: add alert message when redirecting
}

const parsedToken: AccessToken = JSON.parse(tokenJson)
let userData: User | null = await getUserData(parsedToken, broadcasterId)
if (!userData) {
    throw Error('Could not fetch user data')
}

const username = userData.display_name
iframe_url = `https://www.twitch.tv/embed/${username}/chat?parent=${Astro.url.hostname}`

// get twitch stream info
const streamInfo: ChannelInformation | null = await getStreamInfo(parsedToken!, broadcasterId)
const streamTitle = streamInfo?.title
const gameTitle = streamInfo?.game_name
const gameID = streamInfo?.game_id
---
<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .autocomplete {
        max-height: 10rem!important;
        overflow-y: scroll;
    }
    .autocomplete > div {
        padding: 0.5rem;   
    }
</style>
<LayoutSidebar>
    <div id="stats-container" class="flex justify-around">
        <div id="uptime-container" class="bg-twitch-purple basis-1/4">
            <h3 class="w-full">1:00</h3>
            <p>Uptime</p>
        </div>
        <div id="subs-container" class="bg-blue-500 basis-1/4">
            <h3>4</h3>
            <svg class="" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5 16L3 5l5.5 5L12 4l3.5 6L21 5l-2 11zm14 3c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1v-1h14z" />
            </svg>
            <p>Subscribers</p>
        </div>
        <div id="viewers-container" class="bg-green-500 basis-1/4">
            <h3>5</h3>
            <p>Viewers</p>
        </div>
    </div>
    <div id="main-container" class="flex flex-row justify-evenly">
        <div>
            <iframe id="chat-frame" src={iframe_url}
            height="700"
            width="340"
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-modals">
            </iframe>
        </div>
        <div id="stream-info" class="w-1/4 h-fit dark:bg-stone-900">
            <h4 class="text-2xl font-bold dark:text-white w-full p-2.5 dark:border-gray-700 border-b-2">Stream Information</h4>
            <div>
                <form action="/api/stream-info" method="POST" class="">
                    <div id="stream-info-body" class="p-2">
                        <label for="title"><h2 class="dark:text-white font-semibold mb-2">Title</h2></label>
                        <input type="text" id="username-input" name="title" class="rounded-lg bg-gray-50 border 
                        border-gray-300 text-gray-900 focus:ring-blue-500 
                        focus:border-blue-500 block flex-1 min-w-0 w-full text-sm 
                        p-2.5  dark:bg-gray-700 dark:border-gray-600 
                        dark:placeholder-gray-400 dark:text-white 
                        dark:focus:ring-blue-500 dark:focus:border-blue-500" value={streamTitle} />
                        <br />
                        <label for="game"><h2 class="dark:text-white font-semibold mb-2">Game</h2></label>
                        <input type="text" id="game-input" name="game" class="rounded-lg bg-gray-50 border 
                        border-gray-300 text-gray-900 focus:ring-blue-500 
                        focus:border-blue-500 block flex-1 min-w-0 w-full text-sm 
                        p-2.5  dark:bg-gray-700 dark:border-gray-600 
                        dark:placeholder-gray-400 dark:text-white 
                        dark:focus:ring-blue-500 dark:focus:border-blue-500
                        mb-2" value={gameTitle} />
                        <input id="game-id" type="hidden" name="game-id" value={gameID} />
                    </div>
                    <div id="stream-info-footer" class="border-t-[1px] p-2 border-stone-500 flex flex-row-reverse">
                        <button type="submit" class="text-white bg-twitch-purple hover:bg-purple-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1 text-center">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</LayoutSidebar>
<script>
    import autocomplete, { type AutocompleteItem } from'autocompleter'
    import type { Category, SearchCategoriesResponse } from 'ts-twitch-api'

    type GameItem = String & AutocompleteItem

    const twitchChat = document.querySelector<HTMLIFrameElement>('#chat-frame')
    if (!twitchChat) {
        throw Error('Could not find twitch chat iframe')
    }

    let sourceUrl = twitchChat.src

    if(localStorage.getItem('color-theme') === 'light' && sourceUrl.includes('darkpopout')) {
        sourceUrl = sourceUrl.replace('darkpopout&', '')
    } else if (localStorage.getItem('color-theme') === 'dark' && !sourceUrl.includes('darkpopout')) {
        const position = sourceUrl.indexOf('/chat?') + 6
        twitchChat.src = insertString(sourceUrl, 'darkpopout&', position)
    }

    function insertString(original: string, insert: string, position: number) {
        return original.substring(0, position) + insert + original.substring(position)
    }

    const gameInput = document.querySelector<HTMLInputElement>('#game-input')
    const gameID = document.querySelector<HTMLInputElement>("#game-id")
    if (!gameInput) {
        throw Error('Could not find #game-input element')
    }

    if (!gameID) {
        throw Error('Could not find #game-id element')
    }
    autocomplete<GameItem>({
        input: gameInput,
        emptyMsg: 'No games found',
        minLength: 1,
        fetch: async (text: string, update: (items: string[]) => void) => {
            const response = await fetch(`/api/games?query=${text}`)
            const results = await response.json() as SearchCategoriesResponse
            const titles = results.data.map((game: Category) => game.name)
            update(titles)
        },
        onSelect: (item: GameItem) => {
            gameInput.value = item as string
        },
        debounceWaitMs: 500,
        disableAutoSelect: true,
        className: 'test',
        render: function(item: GameItem, currentValue: string): HTMLDivElement | undefined {
            const itemElement = document.createElement('div');
            itemElement.classList.add('p-0.5')
            itemElement.classList.add('dark:bg-stone-900')
            itemElement.classList.add('dark:text-white')
            itemElement.textContent = item as string;
            return itemElement;
        }
    })
</script>