---
const { type } = Astro.props
import crypto from 'crypto'

const id = type === 'broadcaster' ? 'twitch-broadcaster-button' : 'twitch-bot-button'
const state = crypto.randomBytes(32).toString('hex')

const cookieName = Astro.props.type === 'broadcaster' ? 'broadcaster-state' : 'bot-state'
Astro.cookies.set(cookieName, state, {
    httpOnly: true,
    secure: !import.meta.env.DEV,
    path: "/",
    maxAge: 60 * 60 // 1 hour
})
---
<twitch-oauth-button id={id} data-state={state}>
    <button id={id} type="button" class="text-white bg-twitch-purple dark:bg-twitch-purple-dark 
    focus:ring-4 focus:outline-none focus:ring-blue-300 
    font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 
    dark:focus:ring-blue-800 capitalize">
        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path class="fill-white" d="M11.64 5.93h1.43v4.28h-1.43m3.93-4.28H17v4.28h-1.43M7 2L3.43 5.57v12.86h4.28V22l3.58-3.57h2.85L20.57 12V2m-1.43 9.29l-2.85 2.85h-2.86l-2.5 2.5v-2.5H7.71V3.43h11.43Z"/>
        </svg>
        Connect Twitch {type}
    </button>
</twitch-oauth-button>

<script>
    import config from '../resources/oauth/scopes.json'

    let twitchBaseUri = 'https://id.twitch.tv/oauth2/authorize'
    class TwitchButton extends HTMLElement { 
        constructor() { 
        super()
        
        const button = this.querySelector<HTMLElement>(`#${this.id}`);
        if (!button) {
            throw new ReferenceError(`${this.id} not found.`);
        }

        const state = this.dataset.state as string;
        button.addEventListener('click', () => {
            const scopes = this.id === 'twitch-broadcaster-button' ? Object.keys(config.broadcaster).join(' ') : Object.keys(config.bot).join(' ')
            const CLIENT_ID = import.meta.env.PUBLIC_TWITCH_CLIENT_ID
            const redirect_uri = this.id === 'twitch-broadcaster-button' ? `${window.location.origin}/twitch/callback` : `${window.location.origin}/twitch/bot-callback`
            const params = new URLSearchParams({ response_type: 'code', client_id: CLIENT_ID, scope: scopes, force_verify: 'true', state: state})
            const uri = `${twitchBaseUri}?${params}&redirect_uri=${redirect_uri}`

            window.location.href=uri
        }); 
        } 
    }

    customElements.define('twitch-oauth-button', TwitchButton)
</script>