---
import crypto from 'crypto'
const { state = crypto.randomBytes(32).toString('hex') } = Astro.props
---
<twitch-oauth-button data-state={state}>
    <button>Twitch Broadcaster Auth</button>
</twitch-oauth-button>

<script>
    import scopes from '../resources/oauth/scopes.json'
    let twitchBaseUri = 'https://id.twitch.tv/oauth2/authorize'
    class TwitchButton extends HTMLElement { 
        constructor() { 
        super()

        const state = this.dataset.state as string;
        const button = this.querySelector<HTMLElement>('button');
        if (!button) {
            throw new ReferenceError("Twitch Oauth Button not found.");
        }

        button.addEventListener('click', () => {
            window.sessionStorage.setItem('state', state)
            const botScopes = Object.keys(scopes.bot).join('+')
            const CLIENT_ID = import.meta.env.PUBLIC_TWITCH_CLIENT_ID
            const redirect_uri = `${window.location.origin}/oauth`
            
            const uri = `${twitchBaseUri}?response_type=code`
                + `&client_id=${CLIENT_ID}`
                + `&redirect_uri=${redirect_uri}`
                + '&force_verify=true'
                + `&scopes=${botScopes}`
                + `&state=${state}`
            window.location.href=uri
        }); 
        } 
    }

    customElements.define('twitch-oauth-button', TwitchButton)
</script>